extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Mitch Sfakianos

        p Full Stack JavaScript Developer


        .about-bio

          p Computer Science undergrad


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Python
          li Java
          li C
          li C++
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

          li 205-777-9248
          li mcsfakianos@gmail.com

        a.btn-link(href='/resume') Resume
        a.btn-link(href='https://www.linkedin.com/in/mitch-sfakianos-7758a8132/') LinkedIn
        a.btn-link(href='https://github.com/mazarinno') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back