extends layout.pug

block content

  article.portfolio-intro

    h1 Mitch's Portfolio

    p This is a portfolio of my previous Javascript projects as live sites to visit, including GitHub pages. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
        each project in projects
          .cell
            a(href='project/' + project.id)
              img.thumbnail(src= project.image_urls[0], alt= project.description)
              h5 #{project.project_name}