extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Mitch's Portfolio

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p This is a portfolio of my previous Javascript projects as live sites to visit, including GitHub pages. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
        each project in projects
          .cell
            a(href='/' + project.id)
              img.thumbnail(src= "static" + project.image_urls[0] + ".png", alt= project.description)
              h5 #{project.project_name}